.doctor-form{
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    background-color: #fff;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50%;
    padding: 1rem;
  
}

.doctor-form h4{
    font-family: 'Lobster', cursive;
    padding: 0.5rem;
  
}
.input-control{
    position: relative;
    margin: 0.6rem 0px !important;
}
.input-control .inside-input{
    position: absolute;
    top: 10px;
    right: 20%;
    visibility: hidden;
  
}
.input-control small{
    position: absolute;
    bottom: -10px;
    left: 10px;
    visibility: hidden;
 
}
.input-control input{

    margin: 0.8rem 5px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.003rem solid #000000;
    cursor: pointer;
}

.input-control input:focus{
  outline: none;
}
.input-control input::-webkit-input-placeholder{
    color: #999999;
    font-size: 0.9rem;
    padding: 0.3rem;
    font-family: 'Merriweather', serif;
 
}
.input-control svg{
  margin: 0.3rem;
 font-size: 1.3rem;
}
.input-control button{
 
    border-radius: 0px;
    margin: 0.3rem;
    background-color: #003366; 
    color: #fff;
    font-family: 'Merriweather', serif;
}

.input-control select{
    width: 75%;
    color: #999999;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.003rem solid #000000;
    margin-left: 2rem;

}
.input-control button:hover{
    color: #fff;
}

.input-control button::-moz-focus-inner{
    outline: none;
    border: none;
    
}
.input-control select::-moz-focus-inner{
    outline: none;
}
