.start-page{
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 100%;
  
  
  }
.start-page img{
      padding-top: 1rem;
      width: 25%;
      height: 25%;
}
.start-page p{
      font-family: 'Tinos', serif;
      color: #8c8c8c;
      padding: 3px;
}

.pop-body .inputFile::-webkit-file-upload-button{
  background-color: #D6A419;
  font-family: 'Gidugu', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 0px;
  padding: 3px 0.4rem;
  margin-bottom: 0.9rem !important;
  border: none;
  transition: 0.5s;
}
.pop-body .inputFile::-webkit-file-upload-button:hover{
  background-color: #ffe680 ;
}

.pop-body .inputFile{
   color: #8c8c8c;
   font-family: 'Gidugu', sans-serif;
  outline: none !important;
  border: none !important;
}

.start-page span{
  color: cornflowerblue;
  cursor: pointer;
  font-family: 'Tinos', serif;
  transition: 0.5s;
}
.start-page span:hover{
  color: darkblue;
}

.show-materials-parent {
  position : relative ;
}

.show-materials-parent svg{
   position: absolute;
   top: 25%;
   right : 5%;
   font-size : 2rem;
   cursor : pointer ;
   
  }