.Student-Materials-Parent{
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 100%;
  
  
  }
.Student-Materials-Parent img{
      padding-top: 1rem;
      width: 30%;
      height: 40%;
  }
.Student-Materials-Parent p{
      font-family: 'Tinos', serif;
      color: #8c8c8c;
      padding: 3px;
  }
.Student-Materials-Parent span{
    font-weight: bold;
    color: #D6A419;
    text-transform: capitalize;
 }