.home-parent{
    background-color: #003366;
    height : 120vh;
}

.input-control.success input{
    border: 1px solid #2ecc71 !important;
}
.input-control.success .correct{
    visibility: visible;
    color: #2ecc71;
}

.input-control.error input{
 
    border: 1px solid #e74c32 !important;
}
.input-control.error .uncorrect{
    visibility: visible;
    color: #e74c32;
}
.input-control.error small{
    visibility: visible;
    color: #e74c32;
}