.student-Nav-parent{
    width: 20%;
    position: fixed;
    top: 0px;
    left: 0px ;
    height: 100% ;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color:  #003366;
   justify-content: center;
   }
   
.student-Nav-parent a{
       color: #fff !important;
       font-family: 'Indie Flower', cursive;
       font-size: 1.4rem;
       letter-spacing: 0.5px;
       text-decoration: none !important;
       margin: 1rem 1px;
       transition: 0.5s;
   } 
   
.student-Nav-parent a:hover{
       color: #D6A419 !important;
   }