.parent{

  position: fixed;
 top: 0px;
 bottom: 0px;
 left: 0px;
 z-index: 55;
 display: grid;
 grid-template-columns: 1fr 0.2fr ;
 transition: 1s;

 
}

.left-side{
padding: 1rem;
background-color: #fff;
text-align: center;


}

.left-side:first-child svg{
  color: #000 ;
  cursor: pointer;
  margin: 0.3rem !important;
  font-size: 1.4rem;

}

.left-side p a{
  text-decoration: none;
  color: #000;
  /* font-family: 'Arapey', serif; */
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  padding: 0.2rem 2rem;
  transition: 0.5s;

}

.left-side p a:hover{
 animation: box 0.9s ease-in-out ;
}
@keyframes box{
  0%{
    border-top: 1px solid #000;

  }
  25%{
    border-right: 1px solid #000;
  
  }
  50%{
    border-left: 1px solid #000;


  }
  75%{
    border-bottom: 1px solid #000;
  
   
  }
}

.left-side:first-child p{
margin-top: 2rem;
}

.all-icons{
  position: absolute;
  bottom: 15% ;
  left: 8%;
}


.all-icons > svg{

  font-size: 0px;
  cursor: pointer;
  margin: 15px 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
  padding: 5px;
  border-style: dotted;
  border: 2px solid #fff;


}

.all-icons .icon-1 , .all-icons .icon-2 , .all-icons .icon-3 , .all-icons .icon-4{
  transition: 0.5s;
}

.all-icons .icon-1:hover{
border: 1px solid #000;
color: gray;

}
.all-icons .icon-2:hover{
  border: 1px solid #000;
  color:midnightblue;
  
}
.all-icons .icon-3:hover{
  border: 1px solid #000;
    color: tomato;
}
.all-icons .icon-4:hover{
  border: 1px solid #000;
      color: #09c;
      
}
.open-icon{
  background-color: transparent;
}

.open-icon svg{
  font-size: 3rem !important;
  cursor: pointer;
  color: #fff;
}
