.home-parent{

    height: 100vh !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.layer{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(120deg , rgba(249, 248, 113 , 0.6) 0%,rgba(0, 95, 145 , 0.5) 100%);
}

.content-parent{
    width: 25%;
}
.home-content{
    background-color: rgb(229, 240, 255);
    position: relative;
    padding: 1rem;
}
.home-content p{
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Imbue', serif;
    padding: 0.3rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.6rem;
}
.home-content h4{
    font-family: 'Abril Fatface', cursive;
}
.home-content svg{
    font-size: 1.4rem;
    color: #D6A419;
    margin: 0px 0.5rem;
}

@media screen and (max-width: 550px) {
    .home-content p{
        
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .content-parent{
        width: 40%;
    }
}
