@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.header { 
  height: 100vh;
  display: flex ; 
  flex-direction: column;
  justify-content: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container h1 span {
  display: block;
  text-transform: capitalize;
  letter-spacing: .2rem;
  font-weight: bold;
  color: #D6A419;
}

.header-container p {
  font-weight: 500;
  line-height: 1.8rem;
}

.header-container { 
  background-color: #dfe6f0;
  box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
  border-radius: 0.5rem;
  perspective: 100rem;
  padding: 5rem;
}

.test {
  clip-path: polygon(0 0 , 100% 0 , 100% 90% , 0 100%);
  transform: rotateY(20deg);
} 


