.table-control{
    width: 80% !important;
    margin-top: 4rem !important;

}
.table-control thead th{
    font-family: 'Chicle', cursive;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.table-control tbody td{
    font-family: 'Gidugu', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}
/* .table-control tbody .view-button{
    background-color: #e4af1b;
    font-size: 1.1rem;
    color: #fff;
    padding: 5px 1.1rem;
    font-family: 'Source Sans Pro', sans-serif !important;
    border-radius: 5px;
} */
.table-control tbody .view-button a{
    background-color: #e4af1b;
    font-size: 1.1rem;
    color: #fff;
    padding: 5px 1.1rem;
    font-family: 'Source Sans Pro', sans-serif !important;
    border-radius: 5px;
    text-decoration: none !important;
}

.table-control tbody .delete-button{
    background-color: #cd325e;
    font-size: 1.1rem;
    color: #fff;
    padding: 5px 1.1rem;
    font-family: 'Source Sans Pro', sans-serif !important;
    border-radius: 5px;

}